DATABASE_URL="postgresql://postgres:postgres@localhost:5432/md2pdf?schema=public"
REDIS_URL="redis://localhost:6379"
S3_ENDPOINT="http://localhost:9000"
S3_REGION="us-east-1"
S3_ACCESS_KEY_ID="minioadmin"
S3_SECRET_ACCESS_KEY="minioadmin"
S3_BUCKET="md2pdf"
S3_PUBLIC_BASE_URL="http://localhost:9000/md2pdf"
AUTH_COOKIE_SECRET="change-me"
APP_URL="http://localhost:3000"
RENDER_TIMEOUT_MS="30000"
MAX_MARKDOWN_BYTES="262144"
MAX_ASSET_BYTES="5242880"
MAX_ASSET_COUNT="12"
MAX_CONCURRENT_JOBS_PER_USER="3"
WORKER_CONCURRENCY="2"
JOB_MAX_ATTEMPTS="3"
JOB_BACKOFF_MS="2000"
ASSET_TTL_HOURS="24"
JOB_TTL_HOURS="24"
